@using CMS.Models.CuraHub.ClinicSection

@{
    ViewData["Title"] = "Upsert";
    Layout = "~/Views/Shared/_CuraHubLayout.cshtml";
}
@model PatientAppointment
<h1>Upsert</h1>

<h1> @Model.date</h1>
<h1>@Model.ScheduleId</h1>
