@model CMS.Models.CuraHub.PharmacySection.PharmacySectionVM.MedicineManufactoryVM

@{
    ViewData["Title"] = "Medicine Manufactory Details";
}
<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>
    <div class="card shadow p-4 rounded">
        <div class="card">
            <div class="card-header">
                <h2>@Model.Name</h2>
            </div>
            <div class="card-body">
                <p><strong>Name:</strong> @Model.Name</p>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>


