@{
    ViewData["Title"] = "CuraHub";
    Layout = "~/Views/Shared/_CuraHubLayout.cshtml";
}
<br />
<br />
<br/>
<br />
<br />
<br />
<br />
<br />
<div style="height:100vh" class="mt-5">
    <div class="card mt-5 ">
        <div class="card-header">
            <img src="~/Files/Images/فلسطين.svg" class="rounded-circle " style="width: 50px;" />

        </div>
        <div class="card-body ">
			<blockquote class="blockquote mb-0">
                <h1 style="color:#006d77">Your Health, Our Priority</h1>
                <p style="color:#006d77" class="lead">Book your next doctor’s appointment with ease.</p>
                <a href="/Customer/Home/Service" style="background-color:#006d77" class="btn btn-primary btn-lg">Get Started</a>
            </blockquote>
        </div>
    </div>

</div>


