@model List<CMS.Models.CuraHub.PharmacySection.PharmacySectionVM.PharmacyCategoryVM>

<div class="mb-3 d-flex align-items-center justify-content-between">
    <h1>Pharmacy Categories</h1>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
