@model CMS.Models.CuraHub.PharmacySection.PharmacySectionVM.PharmacyCustomerVM
<h2>Enter your Address</h2>

<form asp-action="SummaryOrder" method="post">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" required />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" required />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" required />
        <span asp-validation-for="Phone" class="text-danger"></span>

    </div>
    
    <div class="form-group">
        <label asp-for="State"></label>
        <input asp-for="State" class="form-control" required />
        <span asp-validation-for="State" class="text-danger"></span>

    </div>
    
    <div class="form-group">
        <label asp-for="City"></label>
        <input asp-for="City" class="form-control"  required />
        <span asp-validation-for="City" class="text-danger"></span>

    </div>
    
    <div class="form-group">
        <label asp-for="Region"></label>
        <input asp-for="Region" class="form-control" required />
        <span asp-validation-for="Region" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Street"></label>
        <input asp-for="Street" class="form-control" required />
        <span asp-validation-for="Street" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
